
<div class = "jumbotron">
	<center><h1>About Us</h1>
	<p>We are working on our One Month Rails Pinteresting app!</p></center>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class="passive"</li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class="passive2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://antiguafootball.com/wp-content/uploads/2013/10/Fifa-World-Cup-2014-Trophy-Desktop-Wallpaper-640x360.jpg" alt="The Best In The World" align="middle" width="820">
      <div class="carousel-caption">
            <h3>The Idea</h3>
    		<p>We started Pinteresting to build the world's best pinterest app!</p>
      </div>
    </div>
    <div class="item passive">
      <img src="http://heroized.com/wp-content/uploads/2013/02/tig-team.jpg" alt="The Best In The World">
      <div class="carousel-caption">
            <h3>The Team</h3>
    		<p>Join our team & meet us!</p>
      </div>
    </div>
        <div class="item passive2">
      <img src="http://i62.tinypic.com/2ij6sls.png" alt="Shoeboxed" width="820">
      <div class="carousel-caption">
            <h3>Our Partners</h3>
    		<p>Shoeboxed, of course!</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div>